
/* -->depends on the parent */
/* div{
    border: 2px solid black;
    width: 100%;
}
section{
    border: 2px solid red;
    width: 700px;

} */
/* div{
    border: 2px solid black;
    width: 100%;
}
section{
    border: 2px solid red;
    width: 100%;

}
body{
    width: 250px;
} */
 /* ul>li{ */
    /* em --> parent */
    /* font-size: 2em; 
 } */
   /* ul>li{  */
   /* root */
    /* font-size: 2rem; 
 }  */